{% extends 'blogs/base.html' %}


{% block main %}
	<main class="col-md-8 main-content">	                
		<article id="108" class="post">

		    <header class="post-head">
		        <h1 class="post-title">{{ post.title }}</h1>
		        <section class="post-meta">
		            <span class="author">作者：<a href="{% url 'blogs:posts_user' post.owner.username %}">{{ post.owner.nickname }}</a></span> &bull;
		            <time class="post-date" datetime="{{ post.date_added|date:'Y年m月d日 H:i' }}" title="{{ post.date_added|date:'Y年m月d日 H:i' }}">{{ post.date_added|date:'Y年m月d日 H:i' }}</time>
		        </section>
		    </header>
		    <section class="featured-media">
		        <img src="{{ post.cover }}" alt="{{ post.title }}">
		    </section>

		    <section class="post-content">
		        {{ post.text|safe }}
		    </section>

		    <footer class="post-footer clearfix">
		        <div class="pull-left tag-list">
		            <i class="fa fa-folder-open-o"></i>
		            
		        </div>

		        <div class="pull-right share">
		            <div class="bdsharebuttonbox share-icons">
					    <a href="#" class="bds_more" data-cmd="more"></a>
					    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
					    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
					    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
					    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					</div>        
				</div>
		    </footer>

		</article>

		<div class="about-author clearfix">
		    <a href="/author/wangsai/"><img src="{{ post.owner.avatar }}" alt="{{ post.owner.nickname }}" class="avatar pull-left"></a>
		    
		    <div class="details">
		        <div class="author">
		            关于作者 <a href="{% url 'blogs:posts_user' post.owner.username %}">{{ post.owner.nickname }}</a>
		        </div>
		        <div class="meta-info">
		            <span class="loaction"><i class="fa fa-home"></i>{{ post.owner.city }}</span>
		            <span class="website"><i class="fa fa-globe"></i><a href="{{ post.owner.site }}" targer="_blank">个人网站/博客</a></span>
		        </div>
		    </div>
		</div>

		<div class="prev-next-wrap clearfix">
		    <a class="btn btn-default" href="/primary-tags/"><i class="fa fa-angle-left fa-fw"></i> 首要“标签”</a>
		    &nbsp;
		</div>
    </main>

{% endblock main %}