{% extends 'blogs/base.html' %}


{% block main %}
	<main class="col-md-8 main-content">
        {% if target %}
            <div class="cover author-cover">
                <div class="avatar-wrap">
                    <img src="{{ target.avatar }}" alt="{{ target.nickname }}" class="avatar">
                </div>
                <h3 class="author-name">
                    作者：{{target.nickname}}
                </h3>
                <div class="meta-info">
                    <span class="post-count"><i class="fa fa-pencil-square-o"></i>{{ target.post_set.all|length }}篇文章</span>
                    <span class="loaction"><i class="fa fa-map-marker"></i>{{ target.city }}</span>
                    <span class="website"><i class="fa fa-globe"></i><a href="{{target.site }}" targer="_BLANK">个人网站/博客</a></span>
                </div>
                <div class="bio"></div>
            </div>
        {% endif %}
		
		{% include "blogs/post_list.html" %}
	</main>

{% endblock main %}