{% extends "blogs/base.html" %}

{% block menu %}
    <li role="presentation"><a href="/">首页</a></li>
    <li role="presentation"><a href="http://wenda.ghostchina.com">论坛</a></li>
    <li role="presentation"><a href="/ghost-cheat-sheet/">快捷手册</a></li>
    <li role="presentation"><a href="http://docs.ghostchina.com/zh/">中文文档</a></li>
    <li role="presentation"><a href="/download/">下载</a></li>
    <li role="presentation"><a href="/about/">关于</a></li>
{% endblock menu %}


{% block container %}

    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xs-10 col-sm-8 col-md-6">
        <form class="form-horizontal" method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username" class="col-sm-3 col-sm-3 control-label">用户名 <span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="username" id="id_username" class="form-control" placeholder="用户名" maxlength="20" required>
                </div>
            </div>
            <div class="form-group">
                <label for="id_nickname" class="col-sm-3 col-sm-3 control-label">昵称 <span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="nickname" id="id_nickname" class="form-control" placeholder="昵称" maxlength="20" required>
                </div>
            </div>
            <div class="form-group">
                <label for="id_email" class="col-sm-3 control-label">邮箱 <span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="email" name="email" id="id_email" class="form-control" placeholder="邮箱" maxlength="30" required>
                </div>
            </div>
            <div class="form-group">
                <label for="id_password" class="col-sm-3 control-label">密码 <span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="密码" maxlength="30" required>
                </div>
            </div>
            <div class="form-group">
                <label for="id_password1" class="col-sm-3 control-label">确认密码 <span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="password" name="password1" id="id_password1" class="form-control" placeholder="请再次输入密码" maxlength="30" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <button type="submit" class="btn btn-default">注册</button>
                </div>
                <div class="col-sm-5">
                    <a href="{% url 'users:login_view' %}" class="btn btn-default">登录</a>
                </div>
            </div>
        </form>
    </div>

{% endblock container %}